<?xml version="1.0"?>
<domain type="kvm">
  <name>{{item.inventory_hostname}}</name>
  <memory>{{item.memory | default(memory)}}</memory>
  <vcpu>{{item.vcpu | default(vcpu)}}</vcpu>
  <os>
    <type arch="x86_64">hvm</type>
  </os>
  <clock offset="localtime"/>
  <on_poweroff>destroy</on_poweroff>
  <on_reboot>restart</on_reboot>
  <on_crash>destroy</on_crash>
  <devices>
    <emulator>{{emulator | default('/usr/bin/kvm')}}</emulator>
    <disk type="file" device="disk">
      <driver name="qemu" type="qcow2"/>
      <source file="{{disk.source_dir}}{{item.inventory_hostname}}.qcow2"/>
      <target dev="vda" bus="virtio"/>
      <shareable/>
    </disk>
    <serial type="pty">
      <source path="/dev/ttyS0"/>
      <target port="0"/>
    </serial>
    <console type="pty">
      <source path="/dev/ttyS0"/>
      <target port="0"/>
    </console>
    <interface type="bridge">
      <source bridge="br0"/>
      <mac address="{{item.mac | default(bridge.mac.default)}}"/>
      <model type='virtio'/>
    </interface>
    <disk type="file" device="cdrom">
      <source file="{{cloud_init.data.iso}}"/>
      <target dev="vdb" bus="virtio"/>
      <readonly/>
    </disk>
  </devices>
</domain>
